.container {
    margin: 2rem 0;
    width: 100%;
}

.content {
    width: 80%;
}

.description {
    width: 100%;
}

.descriptionSummary {
    width: 100%;
}

.jobItem {
    padding: 1rem;
    width: 100%;
}

.jobItemText {
    width: 100%;
}

.jobLabel {
    width: 2.5rem;
}

.jobHighlights {
    padding: .5rem 1.5rem 0;
}

.projectDescription {
    padding: .65rem 0;
}

.evenRow,
.evenRow[data-active] {
    background-color: var(--mantine-color-dark-5);
}

.oddRow,
.oddRow[data-active] {
    background-color: var(--mantine-color-dark-6);
}

.roleTitle {
    font-size: var(--mantine-font-size-lg);
}

.sectionTitle {
    font-size: var(--mantine-font-size-md);
}

@media (max-width: $mantine-breakpoint-sm) {
    .container {
        width: 100vw;
    }

    .content {
        padding: 0 1.5rem;
        width: 100%;
    }
   
    .jobHighlights {
        padding: .5rem 1.5rem 0 0;
    }

    .jobItemText {
        display: inline-block;
    }

    .roleTitle {
        font-size: var(--mantine-font-size-md);
    }

    .sectionTitle {
        font-size: var(--mantine-font-size-sm);
    }
  }