.logoSectionContent {
    height: 100%;
    width: 100%;
}

.logoSectionContentRight {
    align-items: flex-end;
    justify-content: center;
}

@media (max-width: $mantine-breakpoint-sm) {
    .logoSectionContentRight {
        align-items: flex-start;
    }
}